<a href="https://colab.research.google.com/github/jaredmullane/CS68_Stanford_MachineLearning/blob/master/simple_spacy_ner_prepped.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import spacy
from spacy import displacy

text = """
Global Times Editor-in-Chief Hu Xijin said Beijing would likely respond to the forced closure of its Houston consulate with moves that inflict more pain on the U.S. than closing its operation in Wuhan -- including potential cuts to its larger Hong Kong mission.
"""

nlp = spacy.load("en_core_web_sm")
doc = nlp(text)
displacy.render(doc, style='ent', jupyter=True)

In [ ]:
list_text = []
list_ent = []

for ent in doc.ents:
    print(ent.text, ent.start_char, ent.end_char, ent.label_)
    list_text.append(ent.text)
    list_ent.append(ent.label_)

Global Times 1 13 ORG
Hu Xijin 30 38 PERSON
Beijing 44 51 GPE
Houston 102 109 GPE
U.S. 161 165 GPE
Wuhan 196 201 GPE
Hong Kong 244 253 GPE

In [ ]:
import pandas as pd
test_df = pd.DataFrame(list_text, columns=['text'])
test_df['ent'] = list_ent
test_df

           text     ent
0  Global Times     ORG
1      Hu Xijin  PERSON
2       Beijing     GPE
3       Houston     GPE
4          U.S.     GPE
5         Wuhan     GPE
6     Hong Kong     GPE

In [ ]:
test_df.ent.value_counts()

GPE       5
ORG       1
PERSON    1
Name: ent, dtype: int64